<!DOCTYPE html>
<html>
<head>
    <title>InfoServant: Verify</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="/jquery-1.10.1.min.js"></script>
    <link rel="stylesheet" href="/jmobile/jquery.mobile-1.3.1.min.css" />
    <script src="/jmobile/jquery.mobile-1.3.1.min.js"></script>
</head>
<body>

<div data-role="dialog">
        <div data-role="header" data-theme="d">
            <h1>Verify</h1>
        </div>

        <div data-role="content">
            [% IF errors %]
            <p><span> <a data-inline="true" data-iconpos="notext" data-icon="alert" data-role="button" class="ui-icon-alt ui-btn ui-shadow ui-btn-corner-all ui-btn-inline ui-btn-icon-notext ui-btn-up-e" href="index.html" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="e"><span class="ui-btn-inner"><span class="ui-btn-text">Alert</span><span class="ui-icon ui-icon-alert ui-icon-shadow"></span></span></a>
            </span> [% errors %] </p>
            [% END %]

            [% IF success %]
            <p><span> <a data-inline="true" data-iconpos="notext" data-icon="check" data-role="button" class="ui-icon-alt ui-btn ui-shadow ui-btn-corner-all ui-btn-inline ui-btn-icon-notext ui-btn-up-e" href="index.html" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="e"><span class="ui-btn-inner"><span class="ui-btn-text">Success</span><span class="ui-icon ui-icon-check ui-icon-shadow"></span></span></a>
            </span> [% success %] </p>
            [% END %]

            <form action="/verify" method="post">
                <input name="email" id="email" placeholder="Email" value="[% email | html %]" type="text" autocapitalize="off">
                <input name="verify"  id="verify" placeholder="Verification code" value="[% verify | html %]" type="text" autocapitalize="off">
                <input value="Verify" data-theme="b" type="submit">
            </form>
            <a href="/" data-role="button" data-theme="b" rel="external">Cancel</a>       
        </div>
</div>

</body>
</html>

[% STOP %]

<!DOCTYPE HTML>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">

    <script src="jquery-1.10.1.min.js"></script>
</head>
<body>

  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand visible-desktop hidden-phone hidden-tablet" href="/">InfoServant</a>
          <ul class="nav pull-right visible-desktop hidden-phone hidden-tablet">
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
            <li class=active><a href="/verify">Verify</a></li>
            <li><a href="mailto:support@infoservant.com">Contact</a></li>
          </ul>
          <ul class="nav hidden-desktop visible-phone visible-tablet">
            <li><a href="/login">Login</a></li>
            <li class=active><a href="/verify">Verify</a></li>
            <li><a href="mailto:support@infoservant.com">Contact</a></li>
          </ul>
      </div>
    </div><!-- /navbar-inner -->
  </div><!-- /navbar -->

  <div class="row">
    <div class="span10 offset1">

  [% IF errors %]
      <div class="alert alert-error">
        [% errors %]
      </div>
  [% END %]

  [% IF success %]
      <div class="alert alert-success">
        [% success %]
      </div>
  [% END %]

  [% IF info %]
      <div class="alert alert-info">
        [% info %]
      </div>
  [% END %]

      <form action="/verify" class="form-horizontal well" method=post>
        <fieldset>
          <legend>Verify</legend>

          <div class="control-group">
            <div class="controls">
              <input type="text" class="input-xlarge" id="email" name=email placeholder="Email" value=[% email %]>
            </div>
            <div class="controls">
              <input type="text" class="input-xlarge" id="verify" name=verify placeholder="Verification code" value=[% verify %]>
            </div>
            <div class="controls">
              <button type="submit" class="btn btn-primary">Verify</button>
            </div>
          </div>
        <fieldset>
      </form>

    </div>
  </div>
</body>
</html>

