<!DOCTYPE HTML>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <script src="jquery-1.10.1.js"></script>
</head>
<body>

  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand visible-desktop hidden-phone hidden-tablet" href="/">InfoServant</a>
          <ul class="nav pull-right visible-desktop hidden-phone hidden-tablet">
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
            <li class=active><a href="/verify">Verify</a></li>
            <li><a href="mailto:support@infoservant.com">Contact</a></li>
          </ul>
          <ul class="nav hidden-desktop visible-phone visible-tablet">
            <li><a href="/login">Login</a></li>
            <li class=active><a href="/verify">Verify</a></li>
            <li><a href="mailto:support@infoservant.com">Contact</a></li>
          </ul>
      </div>
    </div><!-- /navbar-inner -->
  </div><!-- /navbar -->

  <div class="row">
    <div class="span10 offset1">

  [% IF errors %]
      <div class="alert alert-error">
        [% errors %]
      </div>
  [% END %]

  [% IF success %]
      <div class="alert alert-success">
        [% success %]
      </div>
  [% END %]

  [% IF info %]
      <div class="alert alert-info">
        [% info %]
      </div>
  [% END %]

      <form action="/verify" class="form-horizontal well" method=post>
        <fieldset>
          <legend>Verify</legend>

          <div class="control-group">
            <div class="controls">
              <input type="text" class="input-xlarge" id="email" name=email placeholder="Email" value=[% email %]>
            </div>
            <div class="controls">
              <input type="text" class="input-xlarge" id="verify" name=verify placeholder="Verification code" value=[% verify %]>
            </div>
            <div class="controls">
              <button type="submit" class="btn btn-primary">Verify</button>
            </div>
          </div>
        <fieldset>
      </form>

    </div>
  </div>
</body>
</html>

