<!DOCTYPE html>
<html>
<head>
    <title>InfoServant: Cancel</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="/jmobile/jquery.mobile-1.3.1.min.css" />
    <script src="/jmobile/jquery.mobile-1.3.1.min.js"></script>
</head>
<body>

<div data-role="dialog">
        <div data-role="header" data-theme="d">
            <h1>Cancel</h1>
        </div>

        <div data-role="content">
            [% IF error %]
            <center>
            <p><span> <a data-inline="true" data-iconpos="notext" data-icon="alert" data-role="button" class="ui-icon-alt ui-btn ui-shadow ui-btn-corner-all ui-btn-inline ui-btn-icon-notext ui-btn-up-e" href="index.html" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="e"><span class="ui-btn-inner"><span class="ui-btn-text">Alert</span><span class="ui-icon ui-icon-alert ui-icon-shadow"></span></span></a>
            </span> [% error %] </p>
            </center>
            [% END %]

            [% IF success %]
            <center>
            <p><span> <a data-inline="true" data-iconpos="notext" data-icon="check" data-role="button" class="ui-icon-alt ui-btn ui-shadow ui-btn-corner-all ui-btn-inline ui-btn-icon-notext ui-btn-up-e" href="index.html" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="e"><span class="ui-btn-inner"><span class="ui-btn-text">Success</span><span class="ui-icon ui-icon-check ui-icon-shadow"></span></span></a>
            </span> [% success %] </p>
            </center>
            [% END %]

            [% IF info %]
            <center>
                <p><span> <a data-inline="true" data-iconpos="notext" data-icon="info" data-role="button" class="ui-icon-alt ui-btn ui-shadow ui-btn-corner-all ui-btn-inline ui-btn-icon-notext ui-btn-up-e" href="index.html" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="e"><span class="ui-btn-inner"><span class="ui-btn-text">Success</span><span class="ui-icon ui-icon-info ui-icon-shadow"></span></span></a>
            </span> [% info %] </p>
            </center>
            [% END %]

            [% UNLESS success %]
                <form action="/dashboard" method="post">
                    <input type=hidden name=method value=cancel>
                    <input type="text" autocapitalize="off" name=verify placeholder="Type CANCEL" value="[% verify %]">
                    <input autocapitalize="off" value="Cancel" data-theme="b" type="submit">
                </form>
                <a href="/" data-role="button" data-theme="b" rel="external">Back</a>       
            [% ELSE %]
                <a href="/" data-role="button" data-theme="b" rel="external">Back</a>       
            [% END %]
        </div>
</div>

</body>
</html>
