<!DOCTYPE html>
<html>
<head>
    <title>InfoServant</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/jmobile/jquery.mobile-1.3.1.min.css" />
    <script src="/jquery-1.10.1.min.js"></script>
    <script src="/jmobile/jquery.mobile-1.3.1.min.js"></script>
</head>
<body>
        <div data-role="page" class=ui-responsive-panel>

            <div data-role="header">
                <a href="/dashboard" data-rel="external" data-ajax=false data-icon="back">Back</a>
                <h4><a data-rel=external href="[% link %]" target=_article>[% title %]</a></h4>
            </div><!-- /header -->

            <div data-role="content">
                [% html %]
            </div><!-- /content -->

    <div data-role="footer" data-id="foo1" data-position="fixed">
    <div data-role="navbar">
        <ul>
            <li><a href="/logout" data-rel="external">Logout</a></li>
            <li><a href="/dashboard?offset=[% offset %]" data-rel="external" data-ajax=false>Back</a></li>
            <li><a href="/dashboard/details?entry_id=[% entry_id %]&feed_id=[% feed_id %]&offset=[% offset %]" data-rel="external" data-ajax=false>Refresh</a></li>
            <li><a href="mailto:support@infoservant.com">Contact</a></li>
        </ul>
    </div><!-- /navbar -->
</div><!-- /footer -->
</body>
</html>
