<!DOCTYPE html>
<html>
<head>
    <title>InfoServant: Login</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="/jmobile/jquery.mobile-1.3.1.min.css" />
    <script src="/jmobile/jquery.mobile-1.3.1.min.js"></script>
</head>
<body>

<div data-role="dialog">
    
        <div data-role="header" data-theme="d">
            <h1>[% IF title %] [% title %] [% ELSE %] Login [% END %]</h1>
        </div>

        <div data-role="content">
            [% IF error %]
            <p><span> <a data-inline="true" data-iconpos="notext" data-icon="alert" data-role="button" class="ui-icon-alt ui-btn ui-shadow ui-btn-corner-all ui-btn-inline ui-btn-icon-notext ui-btn-up-e" href="index.html" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="e"><span class="ui-btn-inner"><span class="ui-btn-text">Alert</span><span class="ui-icon ui-icon-alert ui-icon-shadow"></span></span></a>
            </span> [% error %] </p>
            [% END %]

            [% IF success %]
            <p><span> <a data-inline="true" data-iconpos="notext" data-icon="check" data-role="button" class="ui-icon-alt ui-btn ui-shadow ui-btn-corner-all ui-btn-inline ui-btn-icon-notext ui-btn-up-e" href="index.html" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="e"><span class="ui-btn-inner"><span class="ui-btn-text">Success</span><span class="ui-icon ui-icon-check ui-icon-shadow"></span></span></a>
            </span> [% success %] </p>
            [% END %]

            [% IF info %]
            <p><span> <a data-inline="true" data-iconpos="notext" data-icon="info" data-role="button" class="ui-icon-alt ui-btn ui-shadow ui-btn-corner-all ui-btn-inline ui-btn-icon-notext ui-btn-up-e" href="index.html" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="e"><span class="ui-btn-inner"><span class="ui-btn-text">Success</span><span class="ui-icon ui-icon-info ui-icon-shadow"></span></span></a>
            </span> [% info %] </p>
            [% END %]

            [% content %]

            <form action="/dashboard" method="post">
                [% IF method %]
                <input type=hidden name=method value=[% method %]>
                [% END %]
                <input value="Ok" data-theme="b" type="submit">
            </form>
        </div>
</div>

</body>
</html>

