<!DOCTYPE HTML>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <script src="jquery-1.10.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="/viewer/tinymce/js/tinymce/tinymce.min.js"></script>
</head>
<body>

  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand visible-desktop hidden-phone hidden-tablet" href="/">InfoServant</a>
          <ul class="nav pull-right visible-desktop hidden-phone hidden-tablet">
            <li><a href="/logout">Logout</a></li>
            <li><a href="mailto:support@infoservant.com">Contact</a></li>
          </ul>
          <ul class="nav hidden-desktop visible-phone visible-tablet">
            <li><a href="/logout">Logout</a></li>
            <li><a href="mailto:support@infoservant.com">Contact</a></li>
          </ul>
      </div>
    </div><!-- /navbar-inner -->
  </div><!-- /navbar -->

    <div class="container-fluid">
      <div class="row-fluid">
        [% IF have_feeds %]
        <div class="span5">
        [% ELSE %]
        <div class="span5 visible-desktop hidden-phone hidden-tablet">
        [% END %]
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              [% IF have_entries %]
              <li class="nav-header">Entries</li>
              [% FOREACH entry IN entries %]
              <li><a href='javascript:void(0)' onClick="showEntry([% entry.feed_id %],  '[% entry.entry_id %]');">[% entry.title | html %]</a></li>
              [% END %]
              [% END %]

              [% IF have_feeds %]
              <li class="nav-header">Feeds</li>
              [% FOREACH feed IN feeds %]
              <li id="li_feed[% feed.id %]"><a href="javascript:void(0)" onClick="showFeed([% feed.id %]);">[% feed.name | html %]</a></li>
              [% END %]
              [% END %]

              [% UNLESS h.is_mobile %]
              <li class="nav-header ">Account</li>
              <li id="li_profile"><a href="javascript:void(0)" onClick="loadHtml('profile');">Profile</a></li>
              [% END %]
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span7">
            <div id=htmlBody>
            </div>
        </div><!--/span-->
      </div><!--/row-->
  </div>

        <script>
        $.ajaxSetup ({  
            cache: false,
            async: false
        });

        function loadHtml (link, script) {
            var id = '#li_' + link;
            $(".active").removeClass("active");
            $(id).addClass("active");

            $("#htmlBody").load("/dashboard/html/" + link);
            $.getScript("/dashboard/javascript/" + link);
            if (script) {
                script = unescape(script);
                eval(script);
            }
        }

        function showEntry (feed_nbr, entry_id) {
            $("#htmlBody").load("/dashboard/feed/src/" + feed_nbr + "?entry_id=" + entry_id);
            tinymce.init({selector:'textarea', readonly: 1, menubar: "false", plugins: "fullscreen", toolbar: "fullscreen"});
        }

        function showFeed (feed_nbr) {
            var id = '#li_feed' + feed_nbr;

            $("#feed_entries").remove();

            if ("active" == $(id).attr("class")) {
                $(".active").removeClass("active");
                return;
            }

            $(".active").removeClass("active");
            $(id).addClass("active");

            $.ajax({
                url: "/dashboard/feed/entries/" + feed_nbr,
                success: function(data) { 
                    $(id).append('<ol id=feed_entries>');
                    for (var i=0; i<data.length; i++) {
                        var entry = data[i];
                        var link = "<li><a href='javascript:void(0)' onClick=\"showEntry(" + feed_nbr + ", '" + entry.entry_id + "');\">" + entry.title + "</a>";
                        $('#feed_entries').append(link);
                    }
                    $(id).append('</ol>');
                },
            });

            // $("#htmlBody").load("/dashboard/feed/src/" + feed_nbr);

            // tinymce.init({selector:'textarea', readonly: 1, menubar: "false", plugins: "fullscreen", toolbar: "fullscreen"});

                    /*
                    var editor;
                    CKEDITOR.replace('editor1');
                    CKEDITOR.on( 'instanceReady', function( ev ) {
                        editor = ev.editor;

                        editor.setReadOnly( true );
                    });
                    */

            /*
            $.ajax({
                url: "/dashboard/feed/link/" + feed_nbr,
                success: function(data) { 
                    var editor;
                    CKEDITOR.on( 'instanceReady', function( ev ) {
                        editor = ev.editor;

                        editor.setReadOnly( true );
                    });
                },
            });
            */

            // $("#iframeEntry").attr('src', "/dashboard/feed/src/" + feed_nbr);
            /*
            $.ajax({
                url: "/dashboard/feed/url/" + feed_nbr,
                success: function(data) { if(data.success) { } },
            });
            */
        }

        [% IF account_sid && stripe_code %]
            loadHtml("voicemail");
        [% ELSE %] 
            loadHtml("profile");
        [% END %]
        </script>
</body>
</html>
