<!DOCTYPE html>
<html>
<head>
    <title>InfoServant</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/jmobile/jquery.mobile-1.3.1.min.css" />
    <script src="/jquery-1.10.1.min.js"></script>
    <script src="/jmobile/jquery.mobile-1.3.1.min.js"></script>
</head>
<body>

[% UNLESS account_verified %]
<div data-role="page">

    <div data-role="header">
        <h1>InfoServant</h1>
    </div><!-- /header -->

    <div data-role="content">
            <form action="/dashboard" method="post">
                <input type=hidden name=method value=verify>
                <input name="verify" id="verify" placeholder="Verification Number" value="[% verify || c.session.verify | html %]" type="text" autocapitalize="off">
                <input value="Verify" data-theme="b" type="submit">
            </form>
    </div><!-- /content -->

    <div data-role="footer" data-id="foo1" data-position="fixed">
    <div data-role="navbar">
        <ul>
            <li><a href="mailto:support@infoservant.com">Contact</a></li>
            <li><a href="/logout" data-rel="external">Logout</a></li>
        </ul>
    </div><!-- /navbar -->
</div><!-- /footer -->
</div><!-- /page -->
[% END %]

[% IF account_verified %]
<div data-role="page" class=ui-responsive-panel>

    <div data-role="header">
        <h1>[% IF cur_title %] [% cur_title %] [% ELSE %] Entries [% END %]</h1>
        <a href="#nav-panel" data-icon="bars" data-iconpos="notext">Menu</a>
        <a href="#profile-form" data-icon="plus" data-iconpos="notext">Proflie</a>
    </div><!-- /header -->

    <div data-role="content">
        [% IF c.session.cur_feed %]
            [% UNLESS have_entries %]
            Current feed has no entries.
            [% END %]
        [% ELSE %]
            [% UNLESS have_entries %]
            Please upload an opml file or add a rss feed.
            [% END %]
        [% END %]

        [% IF have_entries %]
            <ul data-role="listview">
                [% UNLESS account_purchased %]
                    <li><a data-rel=dialog href="/dashboard?method=purchase">
                        <h1>Upgrade</h1>
                    </a></li>
                [% END %]

                [% FOREACH entry IN entries %]
                    [% IF cur_date != entry.date %]
                        [% SET cur_date = entry.date %]
                        <li data-role="list-divider">[% cur_date %]</li>
                    [% END %]
                <li><a data-rel=external href="/dashboard/details?entry_id=[% entry.id %]&feed_id=[% entry.feed_id %]&offset=[% c.session.offset %]">
                    [% IF c.session.cur_feed %]
                        <p class="ui-li-desc" style="white-space: normal;"><strong>[% entry.title %]</strong></p>
                    [% ELSE %]
                        <h2>[% entry.feed_title %]</h2>
                        <p><strong>[% entry.title %]</strong></p>
                    [% END %]
                    <!-- <p>More summary here</p> -->
                </a></li>
                [% END %]

                [% UNLESS account_purchased %]
                    <li><a data-rel=dialog href="/dashboard?method=purchase">
                        <h1>Upgrade</h1>
                    </a></li>
                [% END %]
            </ul>
        [% END %]
    </div><!-- /content -->

            <style>
                .nav-search .ui-btn-up-a {
                    background-image:none;
                    background-color:#333333;
                }
                .nav-search .ui-btn-inner {
                    border-top: 1px solid #888;
                    border-color: rgba(255, 255, 255, .1);
                }
            </style>

                <div data-role="panel" data-position="left" data-position-fixed="false" data-display="reveal" id="nav-panel" data-theme="a">

                    <ul data-role="listview" data-theme="a" data-divider-theme="a" style="margin-top:-16px;" class="nav-search">
                        <li data-icon="delete" style="background-color:#111;">
                            <a href="#" data-rel="close">Close menu</a>
                        </li>
                        [% IF c.session.cur_feed %]
                        <li data-filtertext="wai-aria voiceover accessibility screen reader">
                            <a href="/dashboard?feed=-1">All Feeds</a>
                        </li>
                        [% END %]
                        [% IF have_feeds %]
                        [% FOREACH feed IN feeds %]
                        <li data-filtertext="wai-aria voiceover accessibility screen reader">
                            <a href="/dashboard?feed=[% feed.id %]">[% feed.name | html %]</a>
                        </li>
                        [% END %]
                        [% END %]
                    </ul>

                    <!-- panel content goes here -->
                </div><!-- /panel -->

                <div data-role="panel" data-position="right" data-position-fixed="false" data-display="overlay" id="profile-form" data-theme="b">
                    <h2>Profile <font size=-1><a href="mailto:support@infoservant.com">Contact</font></a></h2>

                    <form action="/dashboard" method=post>
                        <input type=hidden name=method value=new_feed>
                        <input type="text" placeholder="http://website.com/rss" value="" name="new_feed" data-clear-btn="true" class="ui-input-text ui-body-c">
                        <input value="Add" data-theme="b" type="submit">
                    </form>

                    [% UNLESS c.is_mobile %]
                    <form action="/dashboard" data-ajax="false" enctype="multipart/form-data" method="post">
                        <input type=hidden name=method value=opml_file>
                        <input data-clear-btn="true" name="opml_file" type="file">
                        <input value="Upload" data-theme="b" type="submit">
                    </form>
                    [% END %]

                    [% IF c.session.cur_feed %]
                    <form action="/dashboard" method=post>
                        <input type=hidden name=method value=unsubscribe>
                        <input value="Unsubscribe" data-theme="b" type="submit">
                    </form>
                    [% END %]

                    <hr>

                    [% IF account_purchased %]
                    <form action="/dashboard" method=get>
                        <input type=hidden name=method value=cancel>
                        <input value="Cancel" data-theme="b" type="submit">
                    </form>
                    [% ELSE %]
                    <form action="/dashboard" method=get>
                        <input type=hidden name=method value=purchase>
                        <input value="Purchase" data-theme="b" type="submit">
                    </form>
                    [% END %]

                    <hr>
                    <a href="/logout" data-role="button" data-theme="a" data-rel="external">Logout</a>

                    <hr>
                    <a href="#" data-rel="close" data-role="button" data-theme="c" data-mini="true">Back</a>

                    <!-- panel content goes here -->
                </div><!-- /panel -->

    <div data-role="footer" data-id="foo1" data-position="fixed">
    <div data-role="navbar">
        <ul>
            [% IF account_purchased %]
            [% IF have_entries %]
                [% IF c.session.offset %]
                    [% SET page_prev = c.session.offset - 30 %]
                [% END %]

                    <li><a href="/dashboard?offset=[% page_prev %]" data-rel="external" data-ajax=false>Prev</a></li>
            [% END %]
            [% END %]
            <li><a href="/dashboard" data-rel="external" data-ajax=false>Refresh</a></li>
            <!-- <li><a href="mailto:support@infoservant.com">Contact</a></li> -->

            [% IF account_purchased %]
            [% IF have_entries %]
                [% SET page_next = c.session.offset + 30 %]
                <li><a href="/dashboard?offset=[% page_next %]" data-rel="external" data-ajax=false>Next</a></li>
            [% END %]
            [% END %]
        </ul>
    </div><!-- /navbar -->
</div><!-- /footer -->
</div><!-- /page -->
[% END %]

</body>
</html>
