<!DOCTYPE HTML>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <script src="jquery-1.10.1.js"></script>
</head>
<body>

  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand visible-desktop hidden-phone hidden-tablet" href="/">InfoServant</a>
          <ul class="nav pull-right visible-desktop hidden-phone hidden-tablet">
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
            <li><a href="mailto:support@infoservant.com">Contact</a></li>
          </ul>
          <ul class="nav hidden-desktop visible-phone visible-tablet">
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
            <li><a href="mailto:support@infoservant.com">Contact</a></li>
          </ul>
      </div>
    </div><!-- /navbar-inner -->
  </div><!-- /navbar -->

  <div class="row">
    <div class="span11 offset1">
        <center>
        <h1>Never miss another article.</h1>
        <h3 class="visible-desktop hidden-phone hidden-tablet">Your information, delivered.</h3>
        </center>
    </div>
  </div>

  <div class="row">
    <div class="span4 offset1">
        <table class="table">
            <tr><th>Current Features</th><th>&nbsp;</th></tr>
            <tr><td>Web RSS/Atom</td><td><i class="icon-ok-sign"></i></td></tr>
            <tr><th>Planned Features</th><th>&nbsp;</th></tr>
            <tr><td>Mobile RSS/Atom</td><td><i class="icon-ok-sign"></i></td></tr>
            <tr><td>WebMarks</td><td><i class="icon-ok-sign"></i></td></tr>
            <tr><td>Web Snippets</td><td><i class="icon-ok-sign"></i></td></tr>
        </table>
    </div>
    <!-- <div class="span7"> -->
        <!-- <img src=/warhol_phone.png> -->
    <!-- </div> -->
  </div>
</body>
</html>

